/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*****************************************
 * Authors Style sheet
 * @Vikas Choudhary
 ****************************************/
* {
  box-sizing: border-box;
}

body {
  font-family: "Titillium web";
}

p {
  padding: 10px 0 0 0;
  font-size: 1.15em;
}

/* Header section */
header {
  text-align: center;
  background-color: #00e673;
}

header h1 {
  font-size: 3.5em;
  padding: 20px 0 5px 0;
  font-weight: bold;
}

header p {
  padding: 5px 0px; 
}

header a, footer a {
  text-decoration: none;
  color: white;
}

header nav {
  background-color: #00cc66;
}

nav li{
  display: inline-block;
  padding: 7px 10px;
}

nav li:hover{
  background-color: black;
}

#main, #venue {
  width: 80%;
  margin: 20px auto;
  padding: 15px;
}

#main a {
  display: inline-block;
  text-decoration: none;
  padding: 3px;
  background-color: #44bd66;
  color: white;
  border-radius: 3px;
}

#main a:hover {
  background-color: #333333;
}

section h2 {
  font-size: 2.5em;
  font-weight: bold;
}

section h3 {
  font-size: 2.0em;
  font-weight: bold;
}

#speakers {
  width: 70%;
  margin: auto;
}

#speakers section {
  display: grid;
  grid-template-columns: 35% 65%;
  justify-items: center;
  align-items: center;
  background-color: #ede8da;
  margin: 20px;
}

#speakers p {
  line-height: 1.2em;
  padding: 20px;
}

#speakers img {
  display: inline-block;
  margin: 10px;
  width: 80%;
}

#speakers h2 {
  font-size: 1.6em;
  background-color: #53585e;
  color: white;
  padding: 5px;
  margin: 10px;
}

section p {
  text-align: justify;
}

#register {
  width: 500px;
  margin: 20px auto;
  padding: 15px;
  background-color: #efefef;
}

label {
  display: inline-block;
  margin: 10px 0px;
  font-size: 1.2em;
}

input[type="text"], input[type="email"], select {
  width: 100%;
  padding: 10px;
  font-size: 1.2em;
  border: 2px solid black;
  background-color: #f1f1f1;
  margin-bottom: 20px;
}

input[type="text"]:focus, input[type="email"]:focus {
  background-color: #ddd;
}

input[type="reset"], input[type="submit"] {
  margin: 20px 0;
  width: 50%;
  padding: 10px;
  color: white;
  border: none;
  font-size: 1.2em;
}

input[type="reset"] {
  background-color: red;
}

input[type="submit"] {
  background-color: green;
}

#info section {
  width: 65%;
  margin: 10px auto;
  padding: 10px;
  border: 3px solid green;
}

#schedule {
  width: 700px;
  margin: 20px auto;
  padding: 30px;
  background-color: #efefef;
  color: black;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1.2em;
}

table caption {
  font-size: 1.4em;
  background-color: #333;
  color: white;
  padding: 5px;
  font-weight: bold;
}

td, th {
  border: 2px solid black;
  text-align: center;
  padding: 5px;
}

th {
  color: white;
  font-weight: bold;
  font-size: 1.25em;
}

td {
  font-size: 1.15em;
}

.date {
  background-color: #e07875;
}

.head {
  background-color: #de6662;
}

.break {
  background-color: #89e075;
}

#venue img {
  width: 100%;
}

#venue figcaption {
  background-color: #333333;
  color: white;
  padding: 5px;
  font-size: 1.02em;
}

footer {
  background-color: #333333;
  color: white;
  text-align: center;
  clear: both;
}

footer img {
  vertical-align: middle;
}

/* Responsive design */
@media only screen and (max-width: 600px) {
  header h1 {
    font-size: 2.7em;
    padding: 40px 0 10px 0;
  }

  section h2 {
    font-size: 2.0em;
  }

  section h3 {
    font-size: 1.7em;
  }
  
  #main {
    width: 100%;
  }  

  #info section {
    width: 85%;
  }

  #speakers {
    width: 100%;
  }

  #speakers section {
    display: grid;
    grid-template-columns: 100%;
  }

  #speakers h2 {
    font-size: 1.45em;
  }

  #venue {
    width: 90%;
    padding: 10% 0;
  }

  #register {
    width: 90%;
  }

  #schedule {
    width: 95%;
    padding: 15px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 800px) {
  #speakers {
    width: 90%;
  }

  #speakers h2 {
    font-size: 1.5em;
  }

  #venue {
    width: 85%;
  }

  #register {
    width: 70%;
  }

  #schedule {
    width: 75%;
  }
}